<html>

    <head>
<link rel="stylesheet" type="text/css" href="index.html">
    </head>

    <body>
h1{ font-size:36px; 
  color:red; 
  text-align:center }
p{ font-size:18px }
p { color:blue}
.yo { color:purple;
  font-size:30px }
.compas {color:green}
.toni { font-weight:blod;
   font-size:50px }
      </body>

</html>


